<div id="post" style="width: 290px" class="posts cards">
    <div class="cards-content">
        <div id="post-header"><img src="badge.jpg" alt="@username" style="float:left" width="48" height="48"><h3>User Name</h3><span style="font-style: italic;color:#888;font-size:80%">Tuesday, September 5, 2013</span></div>
        <div id="post-content" style="padding-top:10px; padding-bottom:10px; clear:both">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sodales sem vel ornare auctor. Fusce sollicitudin lorem nec nunc vehicula, lobortis fermentum justo dapibus. Suspendisse tortor erat, convallis eget nibh a, convallis vestibulum nibh. Aliquam ultrices, elit eget egestas eleifend, arcu lectus tempus nisl, et vehicula massa turpis id augue. Vestibulum sit amet ligula magna.
        </div>
    </div>
</div>